
main {
  height: 440px;
}

h1{
  color: black;
}

h1 #interior {
  border: solid;

}


body {
  background: url('../pics/faded.jpg');
  height: 100%;
  font-family: 'roboto', 'helvetica neue', arial, sans-serif;

}

.slide {
  float: right;
  position: absolute;
  z-index: 1;
  background-color: #eee;
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
  content: attr(annot);
}

.slide:before {
  content: attr(annot);
    color: rgba(255,255,255,0.9);

  }

.space {
  width: 100%;
  height: 125px;
  float: none;
  position: relative;
  left: 0;
  text-align: center;
  padding: 44px;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
}

div.space2 {
  border: solid;
  width: 100%;
  height: 250px;
  float: none;
  position: relative;
  text-align: center;
  padding: 44px;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
}
p#text{
  font-size: 13px;
  display: block;
  color: white;
  font-family: 'roboto', 'helvetica neue', arial, sans-serif;
}

/*
#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  background-image: linear-gradient(to right, skyblue, aqua);
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  margin: auto 0px;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
  border-radius: 1px;
  border-style:solid;
  border-width:thin;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
  opacity: 0.1;

}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
  opacity: 0.1;

}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
  opacity: 0.5;

}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
  opacity: 0.5;

}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}

#carousel div.nextRightSecond img {
  width: 200px;
}*/

.buttons {
  transform: translateX(45%);
}

button {
  top: 40%;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  background-color: #f1c40f;
  color: white;
}

button:hover {
  background-color: #FFDE29;
}



@media screen and (max-width: 600px) {
  #otherProjects,
  #space,
  #profile-pic {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

#otherProjects {
  text-align: center;
  padding: 5px;
}

#picsProject {
  height: 13em;
  width: 13em;
}

.getAQuote {
  margin: 30px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.bottom-left {
  bottom: 8px;
  left: 16px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #222224;
  text-align: center;
  line-height: 300px;
}
#wrapper{
      text-align:center;

}

a.control_prev, a.control_next {

  top: 40%;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  background-color: #f1c40f;
  color: white;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
  color: white;
}

/*second Slider*/
#slider2 {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  height: 20px;
}

#slider2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider2 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #222224;
  text-align: center;
  line-height: 300px;
}

#wrapper2{
      text-align:center;

}

a.control_prev2, a.control_next2 {

  top: 40%;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  background-color: #f1c40f;
  color: white;
}

a.control_prev2:hover, a.control_next2:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev2 {
  border-radius: 0 2px 2px 0;
}

a.control_next2 {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option2 {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
  color: white;

}


.image-container {
  position: relative;
  border: solid;
}

.images {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.images img {
  max-width: 100%;
  width: 33.48333%;
  height: auto;
  display: inline;
  margin: 0 0 -3px;
  border: none;
  opacity: 0.2;
}
.images img:first-child {
  opacity: 0.2;
}
.images img:nth-child(2) {
  opacity: 1;
}
.images img:not(:nth-child(2)) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.images i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 4em;
  z-index: 9;
}
.images i:hover {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.images i:nth-child(1) {
  left: 0.5em;
}
.images i:nth-child(2) {
  right: 0.5em;
}

.responsive-paragraph{
  margin-top: 20px;
  color: black;
  font-size:17px;
}

@media (max-width:767px) {
  .responsive-paragraph {
    line-height:1.2;
    font-size:15px;
    color:white
  }
    
  }