
main {
  height: 440px;
}

h1{
  color: white;
}

h1 #interior {
  border: solid;

}

body {
  background-color: #222224;
  background-image: linear-gradient(#17191f, #252a35);
  height: 100%;
  font-family: 'roboto', 'helvetica neue', arial, sans-serif;
}

.slide {
  float: right;
  position: absolute;
  z-index: 1;
  background-color: #eee;
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
  content: attr(annot);
}

.slide:before {
  content: attr(annot);
    color: rgba(255,255,255,0.9);

  }


.space {
  width: 100%;
  height: 125px;
  float: none;
  position: relative;
  left: 0;
  text-align: center;
  padding: 44px;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
}

div.space2 {
  border: solid;
  width: 100%;
  height: 250px;
  float: none;
  position: relative;
  text-align: center;
  padding: 44px;
  font-family: "open_regular", Helvetica, Arial, sans-serif;
}
p#text{
  font-size: 13px;
  display: block;
  color: white;
  font-family: 'roboto', 'helvetica neue', arial, sans-serif;

}

#carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
/*  background-image: linear-gradient(to right, skyblue, aqua);
*/}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  margin: auto 0px;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
  border-radius: 1px;
  border-style:solid;
  border-width:thin;
}

#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
  width: 200px;
  opacity: 0.5;

}

#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
  width: 200px;
  opacity: 0.5;

}

#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
  width: 300px;
  opacity: 0.5;

}

#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}

#carousel div.prevLeftSecond img {
  width: 200px;
}

#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
  width: 300px;
  opacity: 0.5;

}

#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}

#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  transform: translateX(45%);
}

button {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

button:hover {
  background-color: #FFDE29;
}


/*second carouel for interior jobs*/

#carousel2 {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#carousel2 div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel2 div img {
  width: 400px;
  transition: width 1s;
}

#carousel2 div.hideLeft2 {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel2 div.hideLeft2 img {
  width: 200px;
}

#carousel2 div.hideRight2 {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel2 div.hideRight2 img {
  width: 200px;
}

#carousel2 div.prev2 {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel2 div.prev2 img {
  width: 300px;
}

#carousel2 div.prevLeftSecond2 {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel2 div.prevLeftSecond2 img {
  width: 200px;
}

#carousel2 div.selected2 {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel2 div.next2 {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel2 div.next2 img {
  width: 300px;
}

#carousel2 div.nextRightSecond2 {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel2 div.nextRightSecond2 img {
  width: 200px;
}

.buttons2 {
  transform: translateX(45%);
}

/*3rd carousel*/

#carousel3 {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#carousel3 div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}

#carousel3 div img {
  width: 400px;
  transition: width 1s;
}

#carousel3 div.hideLeft3 {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel3 div.hideLeft3 img {
  width: 200px;
}

#carousel3 div.hideRight3 {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#carousel3 div.hideRight3 img {
  width: 200px;
}

#carousel3 div.prev3 {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#carousel3 div.prev3 img {
  width: 300px;
}

#carousel3 div.prevLeftSecond3 {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel3 div.prevLeftSecond3 img {
  width: 200px;
}

#carousel2 div.selected3 {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel3 div.next3 {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#carousel3 div.next3 img {
  width: 300px;
}

#carousel3 div.nextRightSecond3 {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#carousel3 div.nextRightSecond3 img {
  width: 200px;
}

.buttons3 {
  transform: translateX(45%);
}

div.sectionOne {}

div.sectionTwo {}



@media screen and (max-width: 600px) {
  #otherProjects,
  #space,
  #profile-pic {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

#otherProjects {
  text-align: center;
  padding: 5px;
}

#picsProject {
  height: 13em;
  width: 13em;
}

.getAQuote {
  margin: 30px;
  float: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

